html, body {
    height: 100%;
    margin: 0;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

body {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid white;
    background: black;
}
