@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Snake"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <canvas width="400" height="400" id="game"></canvas>
    <script src="~/js/script.js"></script>
    <a asp-page="GameHistory" class="btn btn-warning">Ver puntajes</a>

</body>
</html>
