@page
@model Hospital.Pages.Servicios.EmergenciasModel
@{
}

<div class="container-cita mt-5">
    <section class="info">
        <h2>¿Por qué elegir nuestro servicio de emergencias?</h2>
        <p>Atendemos emergencias médicas con rapidez y eficacia, brindando atención inmediata las 24 horas del día.</p>

        <div class="benefits">
            <div class="card">
                <h3>Atención 24/7</h3>
                <p>Disponemos de un equipo de médicos y especialistas listos para actuar en cualquier momento.</p>
            </div>
            <div class="card">
                <h3>Unidad de Trauma y Cuidados Intensivos</h3>
                <p>Contamos con salas equipadas para atender cualquier tipo de emergencia con tecnología avanzada.</p>
            </div>
            <div class="card">
                <h3>Ambulancias Equipadas</h3>
                <p>Nuestras ambulancias están listas para trasladar a los pacientes con el mejor cuidado médico.</p>
            </div>
        </div>

        <a class="btn-servicio" asp-area="" asp-page="/Contacto">Contáctenos</a>
    </section>
</div>

