@page
@model Hospital.Pages.Servicios.FarmaciaModel
@{
}

<div class="container-cita mt-5">
    <section class="info">
        <h2>¿Por qué elegir nuestra farmacia?</h2>
        <p>Ofrecemos una amplia variedad de medicamentos y productos de salud con atención personalizada y precios accesibles.</p>

        <div class="benefits">
            <div class="card">
                <h3>Medicamentos de Calidad</h3>
                <p>Disponemos de una amplia gama de medicamentos certificados para tu bienestar.</p>
            </div>
            <div class="card">
                <h3>Atención Personalizada</h3>
                <p>Nuestro equipo de farmacéuticos está listo para asesorarte sobre el uso adecuado de los medicamentos.</p>
            </div>
            <div class="card">
                <h3>Servicio Rápido y Seguro</h3>
                <p>Procesamos tus recetas y pedidos con rapidez para que obtengas lo que necesitas sin demoras.</p>
            </div>
        </div>

        <a class="btn-servicio" asp-area="" asp-page="/Contacto">Contáctenos</a>
    </section>
</div>

