@page
@model Hospital.Pages.Admin.editModel

@{
    ViewData["Title"] = "edit";
}
<div class="container-cita mt-5">

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
        <div class="row justify-content-center">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usuario.Id" />
            <div class="form-group">
                
                <label asp-for="Usuario.Nombre" class="control-label"></label>
                <input asp-for="Usuario.Nombre" class="form-control" />
                <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Usuario.Apellido" class="control-label"></label>
                <input asp-for="Usuario.Apellido" class="form-control" />
                <span asp-validation-for="Usuario.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Usuario.Email" class="control-label"></label>
                <input asp-for="Usuario.Email" class="form-control" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Usuario.Clave" class="control-label"></label>
                <input asp-for="Usuario.Clave" class="form-control" />
                <span asp-validation-for="Usuario.Clave" class="text-danger"></span>
            </div>


            <div class="form-group">
                
                <label asp-for="Usuario.Role" class="control-label"></label>
                <select class="form-select" asp-for="Usuario.Role" class="form-control" >
                    <option value="Empleado">Empleado</option>
                    <option value="Administrador">Administrador</option>
                    </select>
                <span asp-validation-for="Usuario.Role" class="text-danger"></span>
            </div>






            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
