@page
@model IndexModel
@{
    ViewData["Title"] = "Hospital San Rafael";
}

<div class="d-flex justify-content-center mt-5">
    <div class="bg-white p-5 rounded shadow text-center">
        <h2 class="mb-2">Agende su cita en línea</h2>
        <p class="mb-4">De manera rápida y fácil</p>
        <a class="btn btn-warning fw-bold" asp-page="@(User.IsInRole("Administrador") ? "/Admin/Citas/Agendar" : (User.Identity.IsAuthenticated ? "/Citas/Agendar" : "/Login"))">
        Haga click aquí
        </a>
    </div>
</div>

