@page
@model IndexModel
@{
    ViewData["Title"] = "Hospital San Rafael";
}

<div class="container-index">
    <h2 style="color:black">Agende su cita en línea</h2>
    <p>De manera rápida y fácil</p>
    <a class="button" asp-page="@(User.IsInRole("Administrador") ? "/Admin/Citas/Agendar" : (User.Identity.IsAuthenticated ? "/Citas/Agendar" : "/Login"))">
        Haga click aquí
    </a>

</div>

