@page
@model Hospital.Pages.RegisterModel
@{
    ViewData["Title"] = "Registro de Usuario";
}

<div class="container">
    <div class="auth-register-box">
        <div class="text-center mb-4">
            <h3 class="text-success">Registro de Usuario</h3>
        </div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label class="auth-register-label">Nombre</label>
                <input type="text" class="form-control" asp-for="NewUser.Nombre" required>
            </div>

            <div class="mb-3">
                <label class="auth-register-label">Apellido</label>
                <input type="text" class="form-control" asp-for="NewUser.Apellido" required>
            </div>

            <div class="mb-3">
                <label class="auth-register-label">Teléfono</label>
                <input type="text" class="form-control" asp-for="NewUser.Telefono" required>
            </div>

            <div class="mb-3">
                <label class="auth-register-label">Dirección</label>
                <input type="text" class="form-control" asp-for="NewUser.Direccion" required>
            </div>

            <div class="mb-3">
                <label class="auth-register-label">Correo electrónico</label>
                <input type="email" class="form-control" asp-for="NewUser.Email" required>
                <span asp-validation-for="NewUser.Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="auth-register-label">Contraseña</label>
                <input type="password" class="form-control" asp-for="NewUser.Clave" required>
            </div>
            <div class="mb-3" style="display: none;">
                <label class="auth-register-label">Rol</label>
                <select class="form-select" asp-for="NewUser.Role">
                    <option value="Paciente">Paciente</option>
                </select>
            </div>


            <button type="submit" class="btn btn-success w-100">Registrarse</button>
        </form>

        <div class="text-center mt-3 auth-register-footer">
            <small>¿Ya tienes cuenta? <a asp-page="/Login">Inicia sesión aquí</a></small>
        </div>
    </div>
</div>