<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hospital.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white mb-0 p-0">
            <div class="container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Logo-CCSS-CostaRica-negro.png" alt="Logo CCSS" width="90" height="90" />
                <a class="navbar-brand" style="margin-left:30px; font-size:27px; font-weight: bold;" asp-area="" asp-page="/Index">Hospital San Rafael</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbar1">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <span class="nav-link">Hola, @User.Identity.Name</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Logout">Cerrar sesión</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Login">Iniciar sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Register">Registrarse</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <nav class="navbar-second">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center" id="navbar2">
                    <ul class="navbar-nav d-flex flex-row justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-white px-3" asp-area="" asp-page="/Index">Inicio</a>
                        </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Citas/Detalle">Citas</a>
                            </li>
                    }

                    @if (!User.IsInRole("Administrador"))
                    {    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Servicios
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-white" asp-area="" asp-page="/Servicios/Farmacia">Farmacia</a></li>
                                <li><a class="dropdown-item text-white" asp-area="" asp-page="/Servicios/Hospitalizacion">Hospitalización</a></li>
                                <li><a class="dropdown-item text-white" asp-area="" asp-page="/Servicios/Emergencias">Emergencias</a></li>
                                <li><a class="dropdown-item text-white" asp-area="" asp-page="/Servicios/Laboratorio">Laboratorio</a></li>
                                <li><a class="dropdown-item text-white" asp-area="" asp-page="/Servicios/Odontologia">Odontología</a></li>
                            </ul>
                        </li>

                    }
                        

                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white px-3" asp-page="/Expedientes/Index">Expedientes</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administración
                                </a>
                                <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-white" asp-area="" asp-page="/Admin/Index">Pacientes</a></li>
                                    <li><a class="dropdown-item text-white" asp-area="" asp-page="/Admin/Medicos">Médicos</a></li>
                                    <li><a class="dropdown-item text-white" asp-area="" asp-page="/Admin/Citas/Detalle">Citas</a></li>
                                </ul>
                            </li>
                        }

                        @if (!User.IsInRole("Administrador"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white px-3" asp-area="" asp-page="/Contacto">Contacto</a>
                        </li>

                    }
                        <li class="nav-item">
                            <a class="nav-link text-white px-3" asp-area="" asp-page="/Soporte">Soporte</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
